* {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: red;
}

.league-title {
    display: flex;
    justify-content: center;
}

.header-links {
    display: flex;
    justify-content: center;
}

.header-link {
    margin: 10px;
}

.main-container {
    padding: 50px;
}

.main-boxes {
    display: flex;
    width: 100% vw;
}

.sub-boxes {
    display: flex;
}

.main-box {
    width: 100%;
    height: 500px;
    border: 2px solid white;
    border-radius: 10px;
}

.scores {
    flex: 1;
    margin: 10px 0 30px 0;
    text-align: center;
    text-decoration: underline;
}

.sub-box {
    width: 500px;
    height: 500px;
    border: 2px solid white;
    border-radius: 10px;
}

.news {
    flex: 1;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
}

.injuries {
    flex: 1;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
}

footer {
    padding: 50px;
    text-align: center;
}

.footer-text {
    padding: 50px 0 0 0;
}
