* {
    background-color: black;
    color: white;
}

.top-container {
    
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: red;
}

.league-title {
    display: flex;
    justify-content: center;
}

.header-links {
    display: flex;
    justify-content: center;
}

.header-link {
    margin: 10px;
}

.main-boxes {
    display: flex;
    
}

.main-box {
    width: 300px;
    height: 500px;
    border: 2px solid white;
    border-radius: 10px;
}

.news {
    flex: 1;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
}

.scores {
    flex: 1;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
}

.injuries {
    flex: 1;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
}
